/* src/styles/footer.css */

.footer-container {
  padding: 3rem 1.25rem 1rem 1.25rem;
  border-top: 1px solid var(--color-black-300);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}

.footer-links {
  color: var(--color-white-500);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: var(--text-5);
}

.footer-link {
  cursor: pointer;
  text-decoration: underline;
  transition: color var(--transition-fast);
}

.footer-link:hover {
  color: var(--color-white);
}

.footer-socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer-social-icon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform var(--transition-fast);
}

.footer-social-icon:hover {
  transform: translateY(-2px);
}

.footer-social-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer-copyright {
  color: var(--color-white-500);
  font-size: var(--text-5);
  margin-top: 0.5rem;
  text-align: center;
}
