/* src/styles/index.css - CLEANED */

/* === FONTS === */
@import url('https://fonts.cdnfonts.com/css/kg-keep-your-head-up');

/* === CORE === */

@import './variables.css';
@import './core.css';
@import './base.css';

/* === COMPONENTS === */
@import './components.css';
@import './navbar.css';
@import './footer.css';
@import './home.css';
@import './project.css';
@import './misc.css';
@import './foto.css';


/* === UTILITIES === */
@import './utils.css';
@import './unifiedScroll.css';

/* === ANIMATIONS === */
@import './animations.css';

/* === PROJECTS === */


@import './projects/carousel.css';
@import './projects/map.css';
@import './projects/model.css';
@import './projects/spin.css';
@import './projects/anime.css';
@import './projects/hero.css';
@import './projects/explode.css';
@import './projects/appear.css';
@import './projects/hero.css';

/* === TAILWINDCSS === */
@import 'tailwindcss';

